{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}
{% block title %}{{ user.username }} Profile{% endblock %}
{% block content %}
<div class="container container-profile">
    <img class="profile-avatar" src="{{ user.profile.avatar.url }}" alt="{{ user.username }} profile picture">
    <div>
        <ul>
            <li><span>Username</span>: {{ user.username }}</li>
            <li><span>Email</span>: {{ user.email }}</li>
            <li><span>Location:</span> {{ user.profile.location }}</li>
            <li><span>Birth Date:</span> {{ user.profile.birth_date | date:"d M Y" }}</li>
            <li><span>Bio:</span> {{ user.profile.bio }}</li>

        </ul>
    <!-- <h2>{{ user.username }} Profile</h2>
    <p>{{ user.birth_date }}</p>
    <p>{{ user.email }}</p> -->
    <!-- </div>
    <div>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ u_form.as_p }}
            {{ p_form.as_p }}
            <input type="submit" value="Update">
        </form>
    </div> -->
    <a class="btn" href=" {% url 'updateProfile'%}">Update your profile</a>


</div>

{% endblock %}