<!-- {% extends 'base.html' %}
{% block title %}{{ user }} Account{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <h2>User Account</h2>
    <p>Hello {{ user }}</p>
    <p>Your email:</p><p>{{ user.email }}</p>
    <p>Your profile picture:</p><img src="{{ user.avatar }}" alt="{{ user}} picture">
    <p>Your birth date:</p><p>{{ user.birth_date }}</p>
    <button><a href="{% url 'users:updateProfile' request.user.id %}">Update your profile</a></button>

{% else %}
    <a href="{% url 'login' %}?next={{request.path}}">Login to be able to see your profile</a>
{% endif %}


{% endblock %} -->