{% load static %}
<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}She Codes News{% endblock %}</title>
        <meta name="description" content="">
        <meta name="author" content="FL">
        <meta name="viewport" content="width=device-width, initial-scale=1" /> 
        <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        {% block stylesheets %}{% endblock %}

    </head>

    <body>
        <div class="content">
            {% include './nav.html' %}
                <header> 
                    <a href="{% url 'news:index' %}">
                        <img src="{% static 'logo.svg' %}" alt="Cupcake Logo" width="100px">
                        <h1>She {Codes} News</h1>
                    </a>
                </header>

            <!-- content blocks here -->
            <!-- This is where the content of other template comes -->
            <main>{% block content %}{% endblock %}</main>
            <footer>
                Copyright ©  <a href="https://shedesign.dev" title="Fanny Lefert Portfolio">SheDesign.dev</a>
            </footer>
        </div>
    </body>
</html>
