/* 1. Configuration */
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@200;400;600&display=swap');

:root {
    /* Main colours */
    /* --dark: #050505; */
    --dark: 5,5,5;
    --medium: #dddbcb;
    --light: #f5f1e3;
    --white: #fff;
    --accent: #1b9aaa;

    /* Font Settingss */
    --fw-reg: 400;
    --fw-bold: 600;
    --ff-body: 'Poppins', sans-serif;
    --ff-title: 'Oswald', sans-serif;
    --fs-h1: 2.3rem;
    --fs-h2: 2rem;
    --fs-h3: 1.3rem;
    --fs-body: 1.05rem;

    /* Box-shadow */
    --bs: 0.25em 0.25em 0.75em rgba(61, 64, 91, .25),
        0.125em 0.125em 0.25em rgba(61, 64, 91, .15);

    /* Padding container */
    --bloc: 5vh 10vw;
}

@media (min-width: 900px) {
    :root {
        --fs-h1: 3em;
        --fs-h2: 2em;
        --fs-h3: 1.2em;
        --fs-body: 1.15em;
    }
}

/* Reset */
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

/* General Styles */
html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--white);
    background-image: url("pattern.png");
    color: var(--dark);
    font-size: var(--fs-body);
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
}

strong {
    font-weight: var(--fw-bold);
}

:focus {
    outline: 3px solid var(--medium);
    outline-offset: 3px;
}

/* Typography */
h1,
h2,
h3 {
    font-weight: var(--fw-bold);
    line-height: 1.1;
    margin: 0;
    padding: 0.3em 0;
}

h1 {
    font-size: var(--fs-h1);
    color: var(--dark);
    font-family: var(--ff-title);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

a {
    font-family: var(--ff-title);
    font-size: inherit;
    font-weight: var(--fw-bold);
    text-decoration: none;
    color: var(--accent);
}

a:hover {
    color: var(--dark);
    text-decoration: underline;
}

/* 2. Layout-related sections */
/* Container */
.container {
    margin: 0 auto;
    padding: 3vh 10vw;
}

/* Header */
header{
    padding: 3vh 10vw;
}
header a{
    display: flex;
    align-items: center;
    flex-direction: column;
}
header a:hover{
    text-decoration: none;
}
header a h1:hover{
    color: var(--accent);
}
/* Navigation */
nav {
    position: sticky;
    width:100%;
    background-color: rgb(var(--dark));
    color: var(--light);
    display: flex;
    justify-content: flex-end;
}
nav a{
    padding:20px;
}
nav a:last-child{
    padding-right:50px;
}
nav a:hover{
    color: var(--white);
    text-decoration: none;

}

/* Latest Stories Div */
.latest-stories{
    display:flex;
}

.story-image{
    position: relative ;
    min-width: 33vw;
    min-height:300px;
    background-color: rgb(var(--dark));
    padding: 10px 0;
}
.story-image_txt{
    position: absolute;
    bottom:20%;
    width:100%;
    background-color: rgba(var(--dark), 0.7);
}
.story-image_img img{
    object-fit: cover;
    /* object-position: left; */
    min-height: 300px;
    min-width: 33vw;
}
.story-image a:hover{
    color: var(--white);
}
.story-image img:hover{
    opacity: 80%;
}


/* 3. Components */
.btn {
    display: inline-block;
    padding: .5em 1.5em;
    background: var(--accent);
    color: var(--dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    -webkit-transition: -webkit-transform 200ms ease-in-out;
    transition: -webkit-transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
    border-radius: 5px;
}

.btn:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}



/* Forms style */
/* form {
    width: 70%;
    margin: 0 auto;
    padding: 10% 0;
    background-color: aliceblue;
}

form label {
    width: 30%;
    display: inline-block;
    text-align: right;
}

form .text_field {
    font-family: monospace;
    min-width: 210px;
}

form input[type=submit] {
    margin: 0 0 0 32%;
    padding: 10px;
    font-family: 'Montserrat Subrayada', sans-serif;
} */

