    {% extends "base.html" %}
    {% load static %}
    {% block title %}{{ story.autor }} stories{% endblock %}


    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
    {% endblock %}
    
    {% block content %}

    <div class="container">
        <h2>All the news written by {{ author.username }}</h2>
        <div class="container-profile-avatar">
            <img class="profile-avatar-post" src="{{ author.profile.avatar.url }}" alt="{{ author.username }} profile picture">
            <p>{{ author.profile.bio }}</p> 
        </div>
        <div class=" container-story-card"></div>
            <div class="all-stories">
                    {% for story in author.published_stories.all %}
                        {% include "./storyCard.html" with story=story %}
                    {% endfor %}
            </div>
        </div>
    </div>

    {% endblock %}