{% extends "base.html" %}
<!-- load the tempalte base to inject this content -->
{% load static %}
{% block title %}She Codes News{% endblock %}


{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}
    
<div class="container">
    <h2 >Read all the news in the category <span class="category-title">{{ cats }}</span></h2>
    
    <div class=" container-story-card">
        <div class="all-stories">
            {% if category_post %}
                {% for story in category_post %}
                    {% include "./storyCard.html" with story=story %}`
                {% endfor %}
            {% else %}
                <h2>Sorry this page doesn't exist</h2>
            {% endif %}
        </div>
        <div class="column-links">
            {% if user.is_authenticated %}
            <a href="{% url 'news:addNewsStory' %}">Write a new Story</a>
            {% else %}
            <a href="{% url 'login' %}">Login to create a Story</a>
            {% endif %}
            <!-- Categories -->
            {% if cat_menu %}
                {% for item in cat_menu %}
                <a href="{% url 'news:category' item.id %}">{{ item }}</a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}