{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <div class="story-form">
        <h2> Be Creative!</h2>
        <form action="" method="post" id="create-story-form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="submit">
        </form>
    </div>
{% else %}
    <a href="{% url 'login' %}?next={{request.path}}">Login to create a Story</a>
{% endif %} 
{% endblock %}
