    {% extends "base.html" %}
    <!-- load the tempalte base to inject this content -->
    {% load static %}
    {% block title %}She Codes News{% endblock %}


    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
    {% endblock %}

    {% block content %}


    <div class="container-latest-stories">
        <h2>Latest News</h2>
        <div class="latest-stories">
            {% if latest_stories %}
            {% for story in latest_stories %}
            <!-- <p>{{ story.title }}</p> -->
            <!-- include the template storyCard for our story, look for position -->
            {% include "./storyImage.html" with story=story position=forloop.counter %}
            {% endfor %}
            {% else %}
            <p>No stories are available.</p>
            {% endif %}
        </div>
    </div>

    <div class="container">  
        <h2>All the News</h2>
        <div class="container-story-card">
        <div class="all-stories">
            {% if latest_stories %}
            {% for story in all_stories %}
            {% include "./storyCard.html" with story=story %}
            {% endfor %}
            {% else %}
            <p>No stories are available.</p>
            {% endif %}
        </div>
        <div class="column-links">
            {% if user.is_authenticated %}
            <a href="{% url 'news:addNewsStory' %}">Write a new Story</a>
            {% else %}
            <a href="{% url 'login' %}">Login to create a Story</a>
            {% endif %}
            <!-- Categories -->
            <h3> Categories</h3>
            {% if cat_menu %}
                {% for item in cat_menu %}
                <a href="{% url 'news:category' item.slug %}"><span class="category-title">{{ item }}</span></a>
                {% endfor %}
            {% endif %}
            <h3> Author</h3>
            {% if cat_menu %}
                {% for item in user_menu %}
                <a href="{% url 'news:author' item.pk %}"><span>{{ item }}</span></a>
                {% endfor %}
            {% endif %}
            </div>
        </div>
    </div>

    {% endblock %}