{% extends "base.html" %}
{% load static %}
{% block title %}{{ story.title }}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>{{ story.title }}</h2>
    <div class="container-profile-avatar">
        <a href="{% url 'news:author' story.author.pk %}"><img class="profile-avatar-post" src="{{ story.author.profile.avatar.url }}"></a>
        <div>
            <p>Category<a href="{% url 'news:category' story.category %}"><span class="category-title"> {{ story.category}}</span></a></p>
            <p>Written by <a href="{% url 'news:author' story.author.pk %}"><span>{{ story.author }}</span></a></p>
            <p>{{ story.pub_date |date:" d F, Y"}}</p> 
        </div>
    </div>
    <div id="story-content">
        <img src="{{ story.image.url|default:'https://picsum.photos/600' }}"> 
        <!-- <img src="{% static '/news/images/placeholder-5.jpg' %}"> -->
        {{ story.content|linebreaks }}
    </div>
    <div>
        {% if story.author == user %}
        <div>
            <a href="{% url 'news:updateStory' story.id %} " class="btn">Update</a>
            <a href="{% url 'news:deleteStory' story.id %} " class="btn">Delete</a>
        </div>    
        {% endif %}
    </div>
</div>
{% endblock %}
