<div class="story-card" id="story-card-{{ position }}">
    <!-- include a link to the story with the id selected -->
    <a href="{% url 'news:story' story.id %}">
        <div>   
            <img src="{{ story.image.url|default:'https://picsum.photos/600' }}"> 

        </div>
        <div class="story-card-text">
            <img src="{{ story.author.profile.avatar.url }}">
            <h3>{{ story.title }}</h3>
            <a href="{% url 'news:category' story.category %}">{{ story.category}}</a>
            <a href="{% url 'news:author' story.author.pk %}">{{ story.author }}</a>
            <h4>{{ story.pub_date |date:" d F, Y"}}</h4>
        </div>
    </a>
</div>
