{% extends "base.html" %}
{% load static %}
{% block title %}Update your story{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h2>Update your story</h2>
        <form action="" method="post" id="create-story-form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Update">
        </form>
    </div>
{% endblock %}
